<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yikangyiliao.pension.dao.ActivetyDao" >
 <resultMap id="BaseResultMap" type="com.yikangyiliao.pension.entity.Activety">
    <id column="activety_id" jdbcType="BIGINT" property="activetyId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="cost" jdbcType="DOUBLE" property="cost" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="person_number" jdbcType="INTEGER" property="personNumber" />
    <result column="check_status" jdbcType="TINYINT" property="checkStatus" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="map_psition_address" jdbcType="VARCHAR" property="mapPsitionAddress" />
    <result column="detail_address" jdbcType="VARCHAR" property="detailAddress" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="entry_start_time" jdbcType="TIMESTAMP" property="entryStartTime" />
    <result column="entry_end_time" jdbcType="TIMESTAMP" property="entryEndTime" />
    <result column="activety_mode" jdbcType="TINYINT" property="activetyMode" />
    <result column="recommend_pic_url" jdbcType="VARCHAR" property="recommendPicUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    activety_id, title, content, cost, create_time, update_time, person_number, check_status, 
    create_user_id, map_psition_address, detail_address, start_time, end_time, entry_start_time, 
    entry_end_time, activety_mode, recommend_pic_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from activetys
    where activety_id = #{activetyId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from activetys
    where activety_id = #{activetyId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yikangyiliao.pension.entity.Activety">
    <selectKey resultType="Long" keyProperty="activetyId" order="AFTER">
		SELECT LAST_INSERT_ID()
	</selectKey>
    insert into activetys (activety_id, title, content, 
      cost, create_time, update_time, 
      person_number, check_status, create_user_id, 
      map_psition_address, detail_address, start_time, 
      end_time, entry_start_time, entry_end_time, 
      activety_mode, recommend_pic_url)
    values (#{activetyId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{cost,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{personNumber,jdbcType=INTEGER}, #{checkStatus,jdbcType=TINYINT}, #{createUserId,jdbcType=BIGINT}, 
      #{mapPsitionAddress,jdbcType=VARCHAR}, #{detailAddress,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{entryStartTime,jdbcType=TIMESTAMP}, #{entryEndTime,jdbcType=TIMESTAMP}, 
      #{activetyMode,jdbcType=TINYINT}, #{recommendPicUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yikangyiliao.pension.entity.Activety">
    <selectKey resultType="Long" keyProperty="activetyId" order="AFTER">
		SELECT LAST_INSERT_ID()
	</selectKey>
    insert into activetys
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="activetyId != null">
        activety_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="personNumber != null">
        person_number,
      </if>
      <if test="checkStatus != null">
        check_status,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="mapPsitionAddress != null">
        map_psition_address,
      </if>
      <if test="detailAddress != null">
        detail_address,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="entryStartTime != null">
        entry_start_time,
      </if>
      <if test="entryEndTime != null">
        entry_end_time,
      </if>
      <if test="activetyMode != null">
        activety_mode,
      </if>
      <if test="recommendPicUrl != null">
        recommend_pic_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="activetyId != null">
        #{activetyId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="personNumber != null">
        #{personNumber,jdbcType=INTEGER},
      </if>
      <if test="checkStatus != null">
        #{checkStatus,jdbcType=TINYINT},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="mapPsitionAddress != null">
        #{mapPsitionAddress,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null">
        #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryStartTime != null">
        #{entryStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryEndTime != null">
        #{entryEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activetyMode != null">
        #{activetyMode,jdbcType=TINYINT},
      </if>
      <if test="recommendPicUrl != null">
        #{recommendPicUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yikangyiliao.pension.entity.Activety">
    update activetys
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="personNumber != null">
        person_number = #{personNumber,jdbcType=INTEGER},
      </if>
      <if test="checkStatus != null">
        check_status = #{checkStatus,jdbcType=TINYINT},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="mapPsitionAddress != null">
        map_psition_address = #{mapPsitionAddress,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null">
        detail_address = #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryStartTime != null">
        entry_start_time = #{entryStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryEndTime != null">
        entry_end_time = #{entryEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activetyMode != null">
        activety_mode = #{activetyMode,jdbcType=TINYINT},
      </if>
      <if test="recommendPicUrl != null">
        recommend_pic_url = #{recommendPicUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where activety_id = #{activetyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yikangyiliao.pension.entity.Activety">
    update activetys
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      cost = #{cost,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      person_number = #{personNumber,jdbcType=INTEGER},
      check_status = #{checkStatus,jdbcType=TINYINT},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      map_psition_address = #{mapPsitionAddress,jdbcType=VARCHAR},
      detail_address = #{detailAddress,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      entry_start_time = #{entryStartTime,jdbcType=TIMESTAMP},
      entry_end_time = #{entryEndTime,jdbcType=TIMESTAMP},
      activety_mode = #{activetyMode,jdbcType=TINYINT},
      recommend_pic_url = #{recommendPicUrl,jdbcType=VARCHAR}
    where activety_id = #{activetyId,jdbcType=BIGINT}
  </update>
<!--   { -->
  
<!-- 用户头像 -->
<!-- 名称 -->
<!-- 时间 -->
<!-- 评论内容 -->

<!-- } -->
<!-- 查询所有活动 -->

 <resultMap type="com.yikangyiliao.pension.entity.Activety" extends="BaseResultMap" id="getActivetysMapper">
	<result column="createUsername" property="createUsername"/>
 </resultMap>
  <select id="getActivetys" resultMap="getActivetysMapper">
  	select
  		title,
  		content,
  		create_user_id,
  		(select user_name from user_infos ui where ui.user_id= create_user_id) as createUsername
  	from activetys
  </select>
  
  <!-- 获取料一个活动详情 -->
  <resultMap type="com.yikangyiliao.pension.entity.Activety" extends="BaseResultMap" id="getActivetysDetailByIdResultMap">
	<collection property="followUsers" column="activety_id" select="com.yikangyiliao.pension.dao.UserActivetyListDao.getUserInfoListByActivetyId"> </collection>
  </resultMap>
  <select id="getActivetysDetailById" parameterType="long">
  	select
  		 * 
  	 from activetys
  	 where activety_id=#{activetyId}
  </select>
  
  
  <!--查询我参加的活动  -->
<!--   <select id="selectActivetyByUserId"  parameterType="long"> -->
<!--   	select  -->
<!--   </select> -->
  
</mapper>