<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yikangyiliao.pension.dao.AdeptDao" >
  <resultMap id="BaseResultMap" type="com.yikangyiliao.pension.entity.Adept" >
    <id column="adept_id" property="adeptId" jdbcType="BIGINT" />
    <result column="adept_name" property="adeptName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    adept_id, adept_name, create_time, update_time, is_delete, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from adepts
    where adept_id = #{adeptId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from adepts
    where adept_id = #{adeptId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yikangyiliao.pension.entity.Adept" >
    insert into adepts (adept_id, adept_name, create_time, 
      update_time, is_delete, type
      )
    values (#{adeptId,jdbcType=BIGINT}, #{adeptName,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT}, #{isDelete,jdbcType=TINYINT}, #{type,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yikangyiliao.pension.entity.Adept" >
    insert into adepts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adeptId != null" >
        adept_id,
      </if>
      <if test="adeptName != null" >
        adept_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adeptId != null" >
        #{adeptId,jdbcType=BIGINT},
      </if>
      <if test="adeptName != null" >
        #{adeptName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yikangyiliao.pension.entity.Adept" >
    update adepts
    <set >
      <if test="adeptName != null" >
        adept_name = #{adeptName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where adept_id = #{adeptId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yikangyiliao.pension.entity.Adept" >
    update adepts
    set adept_name = #{adeptName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      is_delete = #{isDelete,jdbcType=TINYINT},
      type = #{type,jdbcType=INTEGER}
    where adept_id = #{adeptId,jdbcType=BIGINT}
  </update>
  
  
  <!--获取擅长列表  -->
  <select id="getAdeptsByType" parameterType="long" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List"></include>
  	from adepts
  	where type = #{type,jdbcType=INTEGER}
  </select>
  
  <resultMap type="com.yikangyiliao.pension.entity.Adept" id="getAdeptsByTypeAndUserIdResultMap" extends="BaseResultMap">
  	<result column="isCheck" property="isCheck"/>
  </resultMap>
  
  
  <select id="getAdeptsByTypeAndUserId" parameterType="map" resultMap="getAdeptsByTypeAndUserIdResultMap">
	  select 
  		adepts.*,
	 case 
		when adepts.adept_id=adm.adept_id then 1
        else 0
	end as isCheck
  	from adepts
    left join user_adept_maps adm
    on (adepts.adept_id=adm.adept_id 
	    <if test="null != userId">
	    and adm.user_id=#{userId}
	    </if>
     )
  	where type = #{type}
  </select>
  
  <!--查询某一个人所有擅长  -->
  <select id="getAdeptsByUserId" resultMap="BaseResultMap" parameterType="long">
  	select 
		adepts.adept_id,adepts.adept_name
	from adepts left join user_adept_maps uam 
		on adepts.adept_id=uam.adept_id
	where uam.user_id=#{userId}
  </select>
  
  
  
</mapper>