<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yikangyiliao.pension.dao.BanerDao" >
 <resultMap id="BaseResultMap" type="com.yikangyiliao.pension.entity.Baner" >
    <id column="baner_id" property="banerId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="orders" property="orders" jdbcType="TINYINT" />
    <result column="action_url" property="actionUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="upate_time" property="upateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="groups" property="groups" jdbcType="TINYINT" />
    <result column="baner_pic" property="banerPic" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    baner_id, title, content, orders, action_url, create_time, upate_time, is_delete, 
    create_user_id, groups, baner_pic
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from baners
    where baner_id = #{banerId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from baners
    where baner_id = #{banerId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yikangyiliao.pension.entity.Baner" >
    insert into baners (baner_id, title, content, 
      orders, action_url, create_time, 
      upate_time, is_delete, create_user_id, 
      groups, baner_pic)
    values (#{banerId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{orders,jdbcType=TINYINT}, #{actionUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{upateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, 
      #{groups,jdbcType=TINYINT}, #{banerPic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yikangyiliao.pension.entity.Baner" >
    insert into baners
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="banerId != null" >
        baner_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="actionUrl != null" >
        action_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="upateTime != null" >
        upate_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="groups != null" >
        groups,
      </if>
      <if test="banerPic != null" >
        baner_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="banerId != null" >
        #{banerId,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=TINYINT},
      </if>
      <if test="actionUrl != null" >
        #{actionUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upateTime != null" >
        #{upateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="groups != null" >
        #{groups,jdbcType=TINYINT},
      </if>
      <if test="banerPic != null" >
        #{banerPic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yikangyiliao.pension.entity.Baner" >
    update baners
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=TINYINT},
      </if>
      <if test="actionUrl != null" >
        action_url = #{actionUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upateTime != null" >
        upate_time = #{upateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="groups != null" >
        groups = #{groups,jdbcType=TINYINT},
      </if>
      <if test="banerPic != null" >
        baner_pic = #{banerPic,jdbcType=VARCHAR},
      </if>
    </set>
    where baner_id = #{banerId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yikangyiliao.pension.entity.Baner" >
    update baners
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      orders = #{orders,jdbcType=TINYINT},
      action_url = #{actionUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      upate_time = #{upateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      groups = #{groups,jdbcType=TINYINT},
      baner_pic = #{banerPic,jdbcType=VARCHAR}
    where baner_id = #{banerId,jdbcType=BIGINT}
  </update>
  
  <!-- 查询首页baner列表  -->
  <select id="getBanerList" resultMap="BaseResultMap">
  	select  
  		<include refid="Base_Column_List"></include>
  	from baners where is_delete=0 and groups=1
  </select>
  
  <!-- 查询活动baner -->
  <select id="getActivetyBaner" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List"></include> 
  	from baners
	where 
		groups=2 and is_delete=0
  </select>
  
  
</mapper>