<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yikangyiliao.pension.dao.FollowUserMapMapper">
  <resultMap id="BaseResultMap" type="com.yikangyiliao.pension.entity.FollowUserMap">
    <id column="follow_user_maps_id" jdbcType="BIGINT" property="followUserMapsId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="follow_user_id" jdbcType="BIGINT" property="followUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    follow_user_maps_id, create_user_id, follow_user_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from follow_user_maps
    where follow_user_maps_id = #{followUserMapsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from follow_user_maps
    where follow_user_maps_id = #{followUserMapsId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yikangyiliao.pension.entity.FollowUserMap">
    insert into follow_user_maps (follow_user_maps_id, create_user_id, follow_user_id, 
      create_time, update_time)
    values (#{followUserMapsId,jdbcType=BIGINT}, #{createUserId,jdbcType=BIGINT}, #{followUserId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yikangyiliao.pension.entity.FollowUserMap">
    insert into follow_user_maps
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="followUserMapsId != null">
        follow_user_maps_id,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="followUserId != null">
        follow_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="followUserMapsId != null">
        #{followUserMapsId,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="followUserId != null">
        #{followUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yikangyiliao.pension.entity.FollowUserMap">
    update follow_user_maps
    <set>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="followUserId != null">
        follow_user_id = #{followUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where follow_user_maps_id = #{followUserMapsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yikangyiliao.pension.entity.FollowUserMap">
    update follow_user_maps
    set create_user_id = #{createUserId,jdbcType=BIGINT},
      follow_user_id = #{followUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where follow_user_maps_id = #{followUserMapsId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.yikangyiliao.pension.entity.FollowUserMap">
    <id column="follow_user_maps_id" jdbcType="BIGINT" property="followUserMapsId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="follow_user_id" jdbcType="BIGINT" property="followUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    follow_user_maps_id, create_user_id, follow_user_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from follow_user_maps
    where follow_user_maps_id = #{followUserMapsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from follow_user_maps
    where follow_user_maps_id = #{followUserMapsId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yikangyiliao.pension.entity.FollowUserMap">
    insert into follow_user_maps (follow_user_maps_id, create_user_id, follow_user_id, 
      create_time, update_time)
    values (#{followUserMapsId,jdbcType=BIGINT}, #{createUserId,jdbcType=BIGINT}, #{followUserId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yikangyiliao.pension.entity.FollowUserMap">
    insert into follow_user_maps
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="followUserMapsId != null">
        follow_user_maps_id,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="followUserId != null">
        follow_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="followUserMapsId != null">
        #{followUserMapsId,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="followUserId != null">
        #{followUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yikangyiliao.pension.entity.FollowUserMap">
    update follow_user_maps
    <set>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="followUserId != null">
        follow_user_id = #{followUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where follow_user_maps_id = #{followUserMapsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yikangyiliao.pension.entity.FollowUserMap">
    update follow_user_maps
    set create_user_id = #{createUserId,jdbcType=BIGINT},
      follow_user_id = #{followUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where follow_user_maps_id = #{followUserMapsId,jdbcType=BIGINT}
  </update>
</mapper>