<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yikangyiliao.pension.dao.ForumPostsImageDao" >
  <resultMap id="BaseResultMap" type="com.yikangyiliao.pension.entity.ForumPostsImage" >
    <id column="forum_posts_images_id" property="forumPostsImagesId" jdbcType="BIGINT" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="forum_posts_id" property="forumPostsId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    forum_posts_images_id, image_url, create_time, forum_posts_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from forum_posts_images
    where forum_posts_images_id = #{forumPostsImagesId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from forum_posts_images
    where forum_posts_images_id = #{forumPostsImagesId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yikangyiliao.pension.entity.ForumPostsImage" >
    insert into forum_posts_images (forum_posts_images_id, image_url, create_time, 
      forum_posts_id)
    values (#{forumPostsImagesId,jdbcType=BIGINT}, #{imageUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{forumPostsId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yikangyiliao.pension.entity.ForumPostsImage" >
    insert into forum_posts_images
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="forumPostsImagesId != null" >
        forum_posts_images_id,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="forumPostsId != null" >
        forum_posts_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="forumPostsImagesId != null" >
        #{forumPostsImagesId,jdbcType=BIGINT},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="forumPostsId != null" >
        #{forumPostsId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yikangyiliao.pension.entity.ForumPostsImage" >
    update forum_posts_images
    <set >
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="forumPostsId != null" >
        forum_posts_id = #{forumPostsId,jdbcType=BIGINT},
      </if>
    </set>
    where forum_posts_images_id = #{forumPostsImagesId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yikangyiliao.pension.entity.ForumPostsImage" >
    update forum_posts_images
    set image_url = #{imageUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      forum_posts_id = #{forumPostsId,jdbcType=BIGINT}
    where forum_posts_images_id = #{forumPostsImagesId,jdbcType=BIGINT}
  </update>
</mapper>