<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yikangyiliao.pension.dao.OfficeDao" >
  <resultMap id="BaseResultMap" type="com.yikangyiliao.pension.entity.Office" >
    <id column="office_id" property="officeId" jdbcType="BIGINT" />
    <result column="office_name" property="officeName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    office_id, office_name, create_time, update_time, is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from offices
    where office_id = #{officeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from offices
    where office_id = #{officeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yikangyiliao.pension.entity.Office" >
    insert into offices (office_id, office_name, create_time, 
      update_time, is_delete)
    values (#{officeId,jdbcType=BIGINT}, #{officeName,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT}, #{isDelete,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yikangyiliao.pension.entity.Office" >
    insert into offices
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="officeId != null" >
        office_id,
      </if>
      <if test="officeName != null" >
        office_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="officeId != null" >
        #{officeId,jdbcType=BIGINT},
      </if>
      <if test="officeName != null" >
        #{officeName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yikangyiliao.pension.entity.Office" >
    update offices
    <set >
      <if test="officeName != null" >
        office_name = #{officeName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
    </set>
    where office_id = #{officeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yikangyiliao.pension.entity.Office" >
    update offices
    set office_name = #{officeName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      is_delete = #{isDelete,jdbcType=VARCHAR}
    where office_id = #{officeId,jdbcType=BIGINT}
  </update>
  
  
  
  <select id="getOffices" resultMap="BaseResultMap">
  	select 
		<include refid="Base_Column_List"></include>
	from offices where  is_delete=0
  </select>
  
  
</mapper>