<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yikangyiliao.pension.dao.UpdateVersionDao" >
  <resultMap id="BaseResultMap" type="com.yikangyiliao.pension.entity.UpdateVersion" >
    <id column="update_version_id" property="updateVersionId" jdbcType="BIGINT" />
    <result column="update_version" property="updateVersion" jdbcType="VARCHAR" />
    <result column="download_link" property="downloadLink" jdbcType="VARCHAR" />
    <result column="is_new_version" property="isNewVersion" jdbcType="TINYINT" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="mobile_phone_type" property="mobilePhoneType" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    update_version_id, update_version, download_link, is_new_version, create_user_id, 
    create_time, update_time, mobile_phone_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from update_versions
    where update_version_id = #{updateVersionId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from update_versions
    where update_version_id = #{updateVersionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yikangyiliao.pension.entity.UpdateVersion" >
    insert into update_versions (update_version_id, update_version, download_link, 
      is_new_version, create_user_id, create_time, 
      update_time, mobile_phone_type)
    values (#{updateVersionId,jdbcType=BIGINT}, #{updateVersion,jdbcType=VARCHAR}, #{downloadLink,jdbcType=VARCHAR}, 
      #{isNewVersion,jdbcType=TINYINT}, #{createUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{mobilePhoneType,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yikangyiliao.pension.entity.UpdateVersion" >
    insert into update_versions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="updateVersionId != null" >
        update_version_id,
      </if>
      <if test="updateVersion != null" >
        update_version,
      </if>
      <if test="downloadLink != null" >
        download_link,
      </if>
      <if test="isNewVersion != null" >
        is_new_version,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="mobilePhoneType != null" >
        mobile_phone_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="updateVersionId != null" >
        #{updateVersionId,jdbcType=BIGINT},
      </if>
      <if test="updateVersion != null" >
        #{updateVersion,jdbcType=VARCHAR},
      </if>
      <if test="downloadLink != null" >
        #{downloadLink,jdbcType=VARCHAR},
      </if>
      <if test="isNewVersion != null" >
        #{isNewVersion,jdbcType=TINYINT},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mobilePhoneType != null" >
        #{mobilePhoneType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yikangyiliao.pension.entity.UpdateVersion" >
    update update_versions
    <set >
      <if test="updateVersion != null" >
        update_version = #{updateVersion,jdbcType=VARCHAR},
      </if>
      <if test="downloadLink != null" >
        download_link = #{downloadLink,jdbcType=VARCHAR},
      </if>
      <if test="isNewVersion != null" >
        is_new_version = #{isNewVersion,jdbcType=TINYINT},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mobilePhoneType != null" >
        mobile_phone_type = #{mobilePhoneType,jdbcType=TINYINT},
      </if>
    </set>
    where update_version_id = #{updateVersionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yikangyiliao.pension.entity.UpdateVersion" >
    update update_versions
    set update_version = #{updateVersion,jdbcType=VARCHAR},
      download_link = #{downloadLink,jdbcType=VARCHAR},
      is_new_version = #{isNewVersion,jdbcType=TINYINT},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      mobile_phone_type = #{mobilePhoneType,jdbcType=TINYINT}
    where update_version_id = #{updateVersionId,jdbcType=BIGINT}
  </update>
</mapper>