<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yikangyiliao.pension.dao.UserInfoDao">
	<resultMap id="BaseResultMap" type="com.yikangyiliao.pension.entity.UserInfo">
		<id column="user_info_id" property="userInfoId" jdbcType="BIGINT" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_sex" property="userSex" jdbcType="TINYINT" />
		<result column="provence_code" property="provenceCode"
			jdbcType="VARCHAR" />
		<result column="city_code" property="cityCode" jdbcType="VARCHAR" />
		<result column="district_code" property="districtCode"
			jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="create_at" property="createAt" jdbcType="BIGINT" />
		<result column="update_at" property="updateAt" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="is_delete" property="isDelete" jdbcType="BIGINT" />
		<result column="photo_url" property="photoUrl" jdbcType="VARCHAR" />
		<result column="user_introduce" property="userIntroduce"
			jdbcType="VARCHAR" />
		<result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
		<result column="designation_id" property="designationId"
			jdbcType="BIGINT" />
		<result column="report_valid_number" property="reportValidNumber"
			jdbcType="BIGINT" />
		<result column="bind_mobile_number" property="bindMobileNumber"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		user_info_id, user_name, user_sex, provence_code, city_code, district_code,
		address,
		create_at, update_at, user_id, is_delete, photo_url, user_introduce, birthday,
		designation_id,
		report_valid_number, bind_mobile_number
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_infos
		where user_info_id = #{userInfoId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user_infos
		where user_info_id = #{userInfoId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.yikangyiliao.pension.entity.UserInfo">
		insert into user_infos (user_info_id, user_name, user_sex,
		provence_code, city_code, district_code,
		address, create_at, update_at,
		user_id, is_delete, photo_url,
		user_introduce, birthday, designation_id,
		report_valid_number, bind_mobile_number)
		values (#{userInfoId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR},
		#{userSex,jdbcType=TINYINT},
		#{provenceCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, #{districtCode,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR}, #{createAt,jdbcType=BIGINT},
		#{updateAt,jdbcType=BIGINT},
		#{userId,jdbcType=BIGINT}, #{isDelete,jdbcType=BIGINT}, #{photoUrl,jdbcType=VARCHAR},
		#{userIntroduce,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP},
		#{designationId,jdbcType=BIGINT},
		#{reportValidNumber,jdbcType=BIGINT},
		#{bindMobileNumber,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.yikangyiliao.pension.entity.UserInfo">
		insert into user_infos
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userInfoId != null">
				user_info_id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="userSex != null">
				user_sex,
			</if>
			<if test="provenceCode != null">
				provence_code,
			</if>
			<if test="cityCode != null">
				city_code,
			</if>
			<if test="districtCode != null">
				district_code,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="createAt != null">
				create_at,
			</if>
			<if test="updateAt != null">
				update_at,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="photoUrl != null">
				photo_url,
			</if>
			<if test="userIntroduce != null">
				user_introduce,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
			<if test="designationId != null">
				designation_id,
			</if>
			<if test="reportValidNumber != null">
				report_valid_number,
			</if>
			<if test="bindMobileNumber != null">
				bind_mobile_number,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userInfoId != null">
				#{userInfoId,jdbcType=BIGINT},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="userSex != null">
				#{userSex,jdbcType=TINYINT},
			</if>
			<if test="provenceCode != null">
				#{provenceCode,jdbcType=VARCHAR},
			</if>
			<if test="cityCode != null">
				#{cityCode,jdbcType=VARCHAR},
			</if>
			<if test="districtCode != null">
				#{districtCode,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="createAt != null">
				#{createAt,jdbcType=BIGINT},
			</if>
			<if test="updateAt != null">
				#{updateAt,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=BIGINT},
			</if>
			<if test="photoUrl != null">
				#{photoUrl,jdbcType=VARCHAR},
			</if>
			<if test="userIntroduce != null">
				#{userIntroduce,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				#{birthday,jdbcType=TIMESTAMP},
			</if>
			<if test="designationId != null">
				#{designationId,jdbcType=BIGINT},
			</if>
			<if test="reportValidNumber != null">
				#{reportValidNumber,jdbcType=BIGINT},
			</if>
			<if test="bindMobileNumber != null">
				#{bindMobileNumber,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yikangyiliao.pension.entity.UserInfo">
		update user_infos
		<set>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="userSex != null">
				user_sex = #{userSex,jdbcType=TINYINT},
			</if>
			<if test="provenceCode != null">
				provence_code = #{provenceCode,jdbcType=VARCHAR},
			</if>
			<if test="cityCode != null">
				city_code = #{cityCode,jdbcType=VARCHAR},
			</if>
			<if test="districtCode != null">
				district_code = #{districtCode,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="createAt != null">
				create_at = #{createAt,jdbcType=BIGINT},
			</if>
			<if test="updateAt != null">
				update_at = #{updateAt,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=BIGINT},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=BIGINT},
			</if>
			<if test="photoUrl != null">
				photo_url = #{photoUrl,jdbcType=VARCHAR},
			</if>
			<if test="userIntroduce != null">
				user_introduce = #{userIntroduce,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				birthday = #{birthday,jdbcType=TIMESTAMP},
			</if>
			<if test="designationId != null">
				designation_id = #{designationId,jdbcType=BIGINT},
			</if>
			<if test="reportValidNumber != null">
				report_valid_number = #{reportValidNumber,jdbcType=BIGINT},
			</if>
			<if test="bindMobileNumber != null">
				bind_mobile_number = #{bindMobileNumber,jdbcType=VARCHAR},
			</if>
		</set>
		where user_info_id = #{userInfoId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yikangyiliao.pension.entity.UserInfo">
		update user_infos
		set user_name = #{userName,jdbcType=VARCHAR},
		user_sex = #{userSex,jdbcType=TINYINT},
		provence_code = #{provenceCode,jdbcType=VARCHAR},
		city_code = #{cityCode,jdbcType=VARCHAR},
		district_code = #{districtCode,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		create_at = #{createAt,jdbcType=BIGINT},
		update_at = #{updateAt,jdbcType=BIGINT},
		user_id = #{userId,jdbcType=BIGINT},
		is_delete = #{isDelete,jdbcType=BIGINT},
		photo_url = #{photoUrl,jdbcType=VARCHAR},
		user_introduce = #{userIntroduce,jdbcType=VARCHAR},
		birthday = #{birthday,jdbcType=TIMESTAMP},
		designation_id = #{designationId,jdbcType=BIGINT},
		report_valid_number = #{reportValidNumber,jdbcType=BIGINT},
		bind_mobile_number = #{bindMobileNumber,jdbcType=VARCHAR}
		where user_info_id = #{userInfoId,jdbcType=BIGINT}
	</update>


	<update id="updateByUserIdSelective" parameterType="com.yikangyiliao.pension.entity.UserInfo">
		update user_infos
		<set>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="userSex != null">
				user_sex = #{userSex,jdbcType=TINYINT},
			</if>
			<if test="provenceCode != null">
				provence_code = #{provenceCode,jdbcType=VARCHAR},
			</if>
			<if test="cityCode != null">
				city_code = #{cityCode,jdbcType=VARCHAR},
			</if>
			<if test="districtCode != null">
				district_code = #{districtCode,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="createAt != null">
				create_at = #{createAt,jdbcType=BIGINT},
			</if>
			<if test="updateAt != null">
				update_at = #{updateAt,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=BIGINT},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=BIGINT},
			</if>
			<if test="photoUrl != null">
				photo_url = #{photoUrl,jdbcType=VARCHAR},
			</if>
			<if test="userIntroduce != null">
				user_introduce = #{userIntroduce,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				birthday = #{birthday,jdbcType=TIMESTAMP},
			</if>
			<if test="designationId != null">
				designation_id = #{designationId,jdbcType=BIGINT},
			</if>
			<if test="bindMobileNumber != null">
				bind_mobile_number = #{bindMobileNumber,jdbcType=BIGINT},
			</if>
		</set>
		where user_id = #{userId,jdbcType=BIGINT}
	</update>


	<!-- 获取某一个用户信息，根据用户id -->
	<select id="getUserInfoByUserId" resultMap="BaseResultMap"
		parameterType="long">
		select
		<include refid="Base_Column_List" />
		from user_infos
		where user_id=#{userId}

	</select>

	<resultMap type="com.yikangyiliao.pension.entity.UserInfo"
		id="getUserInfoListByTaglibIdResultMap">
		<result column="user_info_id" property="userInfoId" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_sex" property="userSex" jdbcType="TINYINT" />
		<result column="provence_code" property="provenceCode"
			jdbcType="VARCHAR" />
		<result column="city_code" property="cityCode" jdbcType="VARCHAR" />
		<result column="district_code" property="districtCode"
			jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="create_at" property="createAt" jdbcType="BIGINT" />
		<result column="update_at" property="updateAt" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="is_delete" property="isDelete" jdbcType="BIGINT" />
		<result column="photo_url" property="photoUrl" jdbcType="VARCHAR" />
		<result column="user_introduce" property="userIntroduce"
			jdbcType="VARCHAR" />
		<result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
		<result column="push_alias" property="pushAlias" />
	</resultMap>
	<!-- 查询关注一个标签的所有的用户的推送标签 -->
	<select id="getUserInfoListByTaglibId" parameterType="long"
		resultMap="getUserInfoListByTaglibIdResultMap">
		select
		distinct
		user.push_alias,
		ui.*,
		designations.designation_name
		from user_infos ui
		inner join user_taglib_maps utm on ui.user_id =utm.create_user_id
		inner join users user on user.user_id=utm.create_user_id
		left join designations on ui.designation_id=designations.designation_id
		where utm.taglib_id=#{taglibId}
	</select>

	<!--根据文章id 查询 用户信息 -->
	<resultMap type="com.yikangyiliao.pension.entity.UserInfo"
		id="getUserServiceInfoByForumPostIdResultMap" extends="BaseResultMap">
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_sex" property="userSex" jdbcType="TINYINT" />
		<result column="provence_code" property="provenceCode"
			jdbcType="VARCHAR" />
		<result column="city_code" property="cityCode" jdbcType="VARCHAR" />
		<result column="district_code" property="districtCode"
			jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="create_at" property="createAt" jdbcType="BIGINT" />
		<result column="update_at" property="updateAt" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="is_delete" property="isDelete" jdbcType="BIGINT" />
		<result column="photo_url" property="photoUrl" jdbcType="VARCHAR" />
		<result column="user_introduce" property="userIntroduce"
			jdbcType="VARCHAR" />
		<result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
		<result column="push_alias" property="pushAlias" />
	</resultMap>
	<select id="getUserServiceInfoByForumPostId" parameterType="long"
		resultMap="getUserServiceInfoByForumPostIdResultMap">
		select
		users.*,fp.content
		from users inner join forum_posts fp on users.user_id=fp.create_user_id
		where fp.forum_post_id=#{forumPostId}
	</select>


	<!--查询用户id根据第三方accountId -->
	<select id="getUserIdByThreePartAccountId" parameterType="String"
		resultMap="BaseResultMap">
		select
		users.user_id,users.push_alias
		from user_infos ui
		inner join three_part_accounts tac on ui.user_id=tac.user_id
		inner join users on users.user_id=ui.user_id where
		tac.account_id=#{accountId}
	</select>
	
	<!-- 根据用户的名称获取用户信息 -->
	<select id="getUserInfoByLoginName" parameterType="String" resultMap="BaseResultMap">
		select ui.* from user_infos ui inner join users on ui.user_id = users.user_id 
		WHERE users.login_name =#{loginName}
	</select>
	

</mapper>