<?xml version="1.0" encoding="UTF-8"?>
<!-- 定时任务配置 -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">


<!-- 用于生成，每个全职服务人员后三天的， -->
		
	
	<bean id="servicerScheudleJob"  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
          <!-- 调用的类 -->
          <property name="targetObject">
           <ref bean="servicerScheudle" />
          </property>
          <!-- 调用类中的方法 -->
          <property name="targetMethod">
           <value>GenerateServiceSchedulDetailForServicerPingGu</value>
          </property>
     </bean>
	
	
	<bean id="servicerScheudleTrriger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
           <ref bean="servicerScheudleJob" />
        </property>
       
        <property name="cronExpression">
           <value>0 0/1 * * * ?</value>
        </property>
	</bean>
	   <!-- cron表达式 -->
	  <!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序 -->
<!--      <bean id="startQuertz" autowire="byName" lazy-init="true"  class="org.springframework.scheduling.quartz.SchedulerFactoryBean"> -->
<!--         <property name="triggers"> -->
<!--            <list> -->
<!--                 <ref bean="servicerScheudleTrriger" /> -->
<!--            </list> -->
<!--         </property> -->
<!--      </bean> -->
	

</beans>
